body {
  background:lightblue;
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
}
input {
  border: 4px solid black;
  border-radius: 2px;
}
input[type=text]:focus {
  background-color: lightblue;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: grey;
    font-size: 12px;
}

.input {
  border: 2px solid black;
  border-radius: 4px;
}

br {
  margin:1em ;/* FF for instance */
  line-height:1em;/* chrome for instance */
}
h2.title {
  text-align: center
}

select.cat_sel {
  position: relative;
  display: block;
  font-family: 'Barrio', sans-serif;
  font-size: 13px;
  color: #000000;

  @media (min-width: 768px) {
    width: 70%;
  }

  @media (min-width: 992px) {
    width: 50%;
  }

  @media (min-width: 1200px) {
    width: 30%;
  }

  &__current {
    position: relative;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;

    &:focus {
      & + .select-box__list {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;

    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }

  &__option {
    display: block;
    padding: 15px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

p.content {
  background:white;
  padding:20px;
  border-radius: 6px;
}

nav.navbar-brand {
  background:lightblue;
}

h1.navbar-item {
  border-radius: 5px;
  border-width: 1px;
}

.form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 2px;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: .5em;
	border-radius: 5px;
}
.hidden_field {
    background-color: #333;
}
.hidden_revealed {
    background-color: #90ee90;
}
.hidden_revealed, .hidden_field {
    margin-left: 0.1em;
    margin-right: 0em;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    border-radius: 4px;
    font-size: 1em;
    line-height: 1.1;
    color: #333;
    display: inline-block;
    transition: color .2s linear, background-color .6s linear;
}
.old_reveal {
    margin-left: 0.1em;
    margin-right: 0em;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    border-radius: 4px;
    font-size: 1em;
    line-height: 1.1;
    color: #333;
    display: inline-block;
    text-align: center;
}
input, #signin, #sync {
    font-size: 1.3em;
    border-radius: 5px;
    border-width: 1px;
}
#hidden{
    background:black;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.p_word {
  display: block;
  white-space: nowrap;
}
.past_word {
  box-shadow: 0 0 0.3rem #999;
  border-radius: 0.2rem;
  margin-top: 20px;
  padding: 20px;
  min-width: 150px;
  margin-bottom: 1.6rem;
  background-color: #CBC3E3;
}
.button {
  padding: 0.3rem;
  margin: 0.3rem;
  background-color: #00BFFF;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .05rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
}
button.launch {
  padding: 0.3rem;
  margin-left: 1rem;
  background-color: #00BFFF;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  letter-spacing: .05rem;
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
}
.progress-outer {
  width: 300px;
}
.progress {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  width: inherit;
  transition: all 0.5s;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button.launch:after,
button.launch:before {
  position: absolute;
  font-family: 'Barrio', sans-serif;
  font-weight: bold;
  filter: brightness(0.85);
  font-size: 1rem;
  content: "";
  transition: .3s all ease;
}

button.launch:before {
  content: '';
  position: absolute;
  left: 1.4rem;
  top: .9rem;
}

button.launch:after {
  content: '';
  position: absolute;
  left: .8rem;
  top: 1rem;
}

button.launch:hover {
  box-shadow: 1px 1px 20px rgba(150,150,150,.2);
  top: -.1rem;
  right: -.1rem;
  cursor: pointer;

}
button.launch:hover:before {
  content: '';
  position: absolute;
  left: .8rem;
  top: .7rem;
  transform: translateY(-1px);
}
button.launch:hover:after {
  content: '';
  position: absolute;
  left: 1.1rem;
  top: 1rem;
}
