/target
.dockerignore
.env_amazon
backend/Cargo.lock
backend/data/corrected_model_fr.fifu
backend/target/
backend/test_backend.sh
common/Cargo.lock
common/Dockerfile
common/migrations/
common/startup.sh
common/target/
compile_backend.sh
docker/docker_postgres.yaml
frontend/Cargo.lock
frontend/dist/
frontend/target/
wiki_random/.gitignore
wiki_random/Cargo.lock
wiki_random/migrations/
wiki_random/send_db_to_rds.sh
wiki_random/wikiguesser_dump.sql
wiki_random/target/
